body {
  background-color: #f9f7fe;
  font-family: "Merriweather", serif;
}
.container {
  margin: 120px auto;
  /*120px puts a margin on the top, and then auto makes the left and 
  right 0, basically--so then we add a max-width to make it look better*/
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  /*font-weight is a value between 100 and 900*/
  font-size: 36px;
  line-height: 1.5;
  /*line-height is font-size (fz) times 1.5, or whatever the number is*/
  color: #272044;
}
.form-container {
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 15px 20px;
  /*padding adds spacing around the form*/
  background-color: white;
  border-radius: 10px;
}
.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
  margin-bottom: 10px;
}
form {
  display: flex;
  /*everything except display: flex was moved from form to .form-container*/
}
.prompt {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  /*width here made it so the button was wider, the width in .prompt
  made it so the search bar took up 80% of 600px max width of the
  entire container*/
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}
.flip {
  display: inline-block;
  animation: flip 1s infinite linear;
}

@keyframes flip {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}
.poem {
  font-size: 16px;
  background: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px rgba(39, 33, 66, 0.03);
}
.hidden {
  display: none;
  /*in order to make this work, we have to use JS poemElement*/
}
.poem strong {
  color: #885df1;
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}
a {
  color: #885df1;
}
